* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  background-color: #121212;
  color: #f4f4f4;
}

input,
button,
a,
select,
option,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

main {
  flex-grow: 1;
}

a {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

a:hover {
  opacity: 0.5;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  height: 100%;
  max-width: 1310px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

.title-h1 {
  margin: 0 0 50px 0;
}

.title-h2 {
  margin: 0 0 35px 0;
}

.title-h3 {
  margin: 0 0 25px 0;
}

.title-h4 {
  margin: 0 0 20px 0;
}

.button-add {
  margin: 0 0 50px 0;
}

@media screen and (max-width: 575px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  .title-h1 {
    margin: 0 0 35px 0;
  }

  .title-h2 {
    margin: 0 0 25px 0;
  }

  .title-h3 {
    margin: 0 0 20px 0;
  }

  .title-h4 {
    margin: 0 0 15px 0;
  }

  .button-add {
    margin: 0 0 35px 0;
  }
}

.input {
  position: relative;
}

.input__error {
  position: absolute;
  top: -25px;
  color: #f53e3e;
  font-size: 14px;
}

.input__field {
  border: none;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  font-family: inherit;
  color: inherit;
  background-color: hsla(0, 0%, 22%, 0.5);
  transition: opacity 0.3s ease-in-out;
}

.input__field:hover {
  opacity: 0.7;
}

.input__field:focus {
  opacity: 1;
}

.input__field:disabled {
  opacity: 0.7;
}

.textarea {
  position: relative;
}

.textarea__error {
  position: absolute;
  top: -25px;
  color: #f53e3e;
  font-size: 14px;
}

.textarea__field {
  resize: vertical;
  min-height: 120px;
  border: none;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  font-family: inherit;
  color: inherit;
  background-color: hsla(0, 0%, 22%, 0.5);
  transition: opacity 0.3s ease-in-out;
  overflow: hidden;
}

.textarea__field:hover {
  opacity: 0.7;
}

.textarea__field:focus {
  opacity: 1;
}

.textarea__field:disabled {
  opacity: 0.7;
}

.select {
  position: relative;
}

.select__error {
  position: absolute;
  top: -25px;
  color: #f53e3e;
  font-size: 14px;
}

.select__field {
  border: none;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  font-family: inherit;
  color: inherit;
  background-color: hsla(0, 0%, 22%, 0.5);
  transition: opacity 0.3s ease-in-out;
}

.select__field:hover {
  opacity: 0.7;
}

.select__field:focus {
  opacity: 1;
}

.select__field:disabled {
  opacity: 0.7;
}

.file {
  position: relative;
}

.file__error {
  position: absolute;
  top: -25px;
  color: #f53e3e;
  font-size: 14px;
}

.button {
  display: block;
  border: none;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  color: inherit;
  background-color: hsla(0, 0%, 22%, 0.5);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.button:hover {
  opacity: 0.7;
}
