.textarea {
  resize: vertical;
  min-height: 120px;
  border: none;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  font-family: inherit;
  color: inherit;
  background-color: hsla(0, 0%, 22%, 0.5);
  transition: opacity 0.3s ease-in-out;
  overflow: hidden;
}

.textarea:hover {
  opacity: 0.7;
}

.textarea:focus {
  opacity: 1;
}

.textarea:disabled {
  opacity: 0.7;
}
